/* --------------------------------Normalize-------------------------------- */
body,ul,li,h1,h2,h3,h4,h5,h6,p {padding: 0; margin: 0; list-style: none;}
a {text-decoration: none; color: inherit;}
img {display: block; width: 100%; object-fit: cover;}
/* --------------------------------Normalize end-------------------------------- */

/* --------------------------------popup start-------------------------------- */
.start-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0009;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.start-popup.close {
  display: none;
}

.start-popup > div {
  width: 296px;
  position: relative;
}

.start-popup > div::before {
  content: "by리뷰에이드";
  font-size: 10px;
  position: absolute;
  right: 8px;
  bottom: 102%;
  color: #fff;
}

.start-popup > div > .popup-img-box > img {
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.start-popup > div > .popup-txt-box {
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.start-popup > div > .popup-txt-box > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 4px;
}

.start-popup > div > .popup-txt-box > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #9a9a9a;
  margin-bottom: 16px;
}

.start-popup > div > .popup-txt-box > a {
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-popup > div > .popup-close {
  background-color: #fff;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
}

.start-popup > div > .popup-close > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #9a9a9a;
  cursor: pointer;
}

/* --------------------------------popup end-------------------------------- */

/* --------------------------------custom start-------------------------------- */
/* --------------------------------coupon start-------------------------------- */
.coupon {
  background-color: #6c7fa2;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.coupon.close {
  display: none;
}

.coupon > a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.coupon > .coupon-close {
  display: block;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  z-index: 1;
  width: 18px;
  height: 18px;
  background: url(//www.ollio.kr/_msync/img/icon_popup_close_wt.svg) no-repeat center;
  cursor: pointer;
}
/* --------------------------------coupon end-------------------------------- */

/* --------------------------------header start-------------------------------- */
header {
  display: flex;
  background-color: pink;
  padding: 0 100px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
}

header.show {
  background-color: #fffdf9;
}

header > .menu-1 > .menu-box-1 {
  display: flex;
}

header > .menu-1 > .menu-box-1 > li {
  margin-left: 30px;
}

header > .menu-1 > .menu-box-1 > li:first-child {
  margin-left: 0;
}

header > .menu-1 > .menu-box-1 > li > a {
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
}

header.show > .menu-1 > .menu-box-1 > li > a {
  color: #47423e;
}

header > .menu-1:hover > div {
  display: block;
}

header > .menu-1 > div {
  display: none;
  position: fixed;
  background: rgba(71, 66, 62, 0.3);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}


header > .menu-1 > div > .menu-box-2 {
  width: 506px;
  height: 100%;
  overflow: auto;
  background: #FFFDF9;
  padding: 145px 100px 100px;
  box-sizing: border-box;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 {
  display: flex;
  position: absolute;
  top: 67px;
  left: 100px;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li {
  padding-left: 30px;
  position: relative;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li:first-child {
  padding-left: 0;
}

header > .menu-1> div > .menu-box-2 > .menu-1-2 > li > a {
  font-size: 13px;
  color: #8E8A83;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li > a:hover {
  color: #47423E;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li:hover > .menu-2 {
  display: block;
}

header > .menu-1 > div > .menu-box-2 .menu-2 {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li:nth-child(2) ul {
  left: -44%;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li:nth-child(3) ul {
  left: -174%;
}

header > .menu-1 > div > .menu-box-2 > .menu-1-2 > li:nth-child(4) ul {
  left: -250%;
}

header > .menu-1 > div > .menu-box-2 .menu-2 > li:first-child {
  border: 1px solid red;
  padding-top: 40px;
}

header > .menu-1 > div > .menu-box-2 .menu-2 > li {
  margin-top: 14px;
}

header > .menu-1 > div > .menu-box-2 .menu-2 > li.br {
  margin-top: 34px;
}

header > .menu-1 > div > .menu-box-2 .menu-2 > li > a {
  display: block;
  font-size: 23px;
  line-height: 31px;
  font-weight: 400;
  color: #8E8A83;
  white-space: nowrap;
}

header > .menu-1 > div > .menu-box-2 .menu-2 > li > a:hover {
  color: #47423E;
}


header > a {
  display: block;
  width: 90px;
  height: 30px;
}

header > a > img:last-child {
  display: none;
}

header.show > a > img:first-child {
  display: none;
}
header.show > a > img:last-child {
  display: block;
}

header > .icon-box {
  display: flex;
  width: 255px;
  justify-content: flex-end;
}

header > .icon-box > a {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  display: block;
}

header > .icon-box > a > img:last-child {
  display: none;
}

header.show > .icon-box > a > img:first-child {
  display: none;
}

header.show > .icon-box > a > img:last-child {
  display: block;
}


header > .icon-box > div {
  margin-left: 0;
  cursor: pointer;
}

header > .icon-box > div > img:last-child {
  display: none;
}

header.show > .icon-box > div > img:first-child {
  display: none;
}

header.show > .icon-box > div > img:last-child {
  display: block;
}

.search-box {
  background-color: #fffdf9;
  padding: 80px 0 120px;
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
}

.search-box.show {
  opacity: 1;
  visibility: visible;
}

.search-box > .search-input {
  display: flex;
  width: 552px;
  margin: 0 auto;
  border-bottom: 1px solid #BEB9B1;
  position: relative;
}

.search-box > .search-input::after {
  content: "";
  position: absolute;
  top: 0; right: 0;
  white-space: nowrap;
  display: block;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url(/img/imgi_1_ico_search.svg);
}
.search-box > .search-input > input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  color: #191919;
  position: relative;
}

.search-box > .search-input > input:focus {
  outline: none;
}

.search-box > nav {
  width: 372px;
  margin: 24px auto 0;
}

.search-box > nav > ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.search-box > nav > ul > li {
  padding: 4px 14px;
  border-radius: 16px;
  background: #F1EDE6;
}

.search-box > nav > ul > li > a {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #47423E;
  white-space: nowrap;
}